* {
  border-box:box-sizing;
}

.row {
  border-style:solid;
  border-width:1px;
  border-color:#bdbcbc;
}
.header {
  background-color:#605c5c;
  color:#dad8d8;
  height:100px;
  text-align:center;
}

.navbar {
  background-color:#404040;
  height:40px;
}

.navbar a{
  color:#e2dada;
  text-decoration:none;
  display:inline-block;
  padding:8px 12px;
}

.navbar a:hover {
  background-color:#f58080;
  color:#0d0c0c;
  opacity: 0.7;
}

.leftside {
  float:left;
  width:30%;
  min-height: 300px;
  border:1px solid #817979;
}

.main{
  float:left;
  width:calc(70% - 4px);
  min-height: 300px;
  border:1px solid #817979;
}

.row:after { /*  clearfix */
  content:"";
  display:table;
  clear:both;
}

.footer {
  background-color:#605c5c;
  color:#dad8d8;
  min-height:70px;
  text-align:center;
}

.active {
  background-color:#e61919;
}
